# Data Science Tools and Ecosystem

This notebook contains a summary of the key tools, libraries, and languages used in the field of Data Science. It also includes simple arithmetic operations in Python.

**Some of the popular languages that Data Scientists use are:**

1. Python  
2. R  
3. SQL  
4. Julia  
5. Scala

**Some of the commonly used libraries in Data Science are:**

- Pandas  
- NumPy  
- Scikit-learn  
- TensorFlow  
- Matplotlib

| Data Science Tools |
|--------------------|
| Jupyter Notebook   |
| RStudio            |
| Apache Zeppelin    |

### Below are some examples of evaluating arithmetic expressions in Python.

In [ ]:
(3 * 4) + 5

In [ ]:
200 / 60

**Objectives:**

- List popular languages used in Data Science  
- List commonly used libraries in Data Science  
- Create a table of Data Science tools  
- Demonstrate arithmetic expressions in Python  
- Share the notebook via GitHub

**Author:** Syed Faizan Ali